h2 {
    text-align: center;
}

.credentials-page {
    max-width: 700px;
    min-height: 100vh;
    background: #ccc;
    padding: 40px;
}

.credentials-form {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.credentials-page input {
    width: 500px;
}

.credentials-instructions img {
    width: 400px;
    display: block;
    margin: 25px auto;
}
